@font-face {
  font-family: AppIranSans;
  src: url("../fonts/IRANSansMobile.ttf") format("truetype");
}
@font-face {
  font-family: AppIranSansBold;
  src: url("../fonts/IRANSansMobile_Bold.ttf") format("truetype");
}
@font-face {
  font-family: AppIranSansLight;
  src: url("../fonts/IRANSansMobile_Light.ttf") format("truetype");
}
@font-face {
  font-family: AppIranSansMedium;
  src: url("../fonts/IRANSansMobile_Medium.ttf");
}
@font-face {
  font-family: "Yellowtail";
  src: url("../fonts/Yellowtail.ttf") format("truetype");
}
* {
  user-select: none;
}

.cuki-info {
  position: fixed;
  margin-left: 20px;
  margin-top: 20px;
  top: 0;
  left: 0;
  display: flex;
}

.Iransans {
  font-family: AppIranSans, serif;
}

.IransansBold {
  font-family: AppIranSansBold, serif;
}

.IransansLight {
  font-family: AppIranSansLight, serif;
}

.IransansMedium {
  font-family: AppIranSansMedium, serif;
}

.info-margin {
  margin-right: 2px;
  margin-left: 2px;
}

.cuki-image-desktop {
  width: 35px;
  margin-right: 10px;
}

.contact-us-button-mobile {
  transition: all 0.2s ease;
  cursor: pointer;
  width: 130px;
  right: 50%;
  height: 40px;
  border: 2px solid;
  color: white;
  border-radius: 200px 0 300px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: AppIranSansBold, sans-serif;
  font-size: 0.8rem;
  background-size: 200% 200%;
  background: black 200%;
}

.contact-us-button-desktop {
  position: absolute;
  transition: all 0.2s ease;
  cursor: pointer;
  width: 130px;
  margin-left: 320px;
  height: 40px;
  border: 2px solid;
  color: white;
  border-radius: 200px 0 300px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: AppIranSansBold, sans-serif;
  font-size: 0.8rem;
  background-size: 200% 200%;
  background: black 200%;
}

.contact-us-button-desktop:hover {
  box-shadow: #ffc9d2 0 0 10px;
  transform: scale(1.05);
}

.mobile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 90%;
  margin-top: -100px;
}

.top-header-white {
  background: #ffffff;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
}

.demo-button-desktop {
  text-decoration: none;
  padding-right: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 110px;
  height: 35px;
  border: #505050 2px solid;
  color: #505050;
  border-radius: 200px 0 300px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: AppIranSansBold, sans-serif;
  font-size: 1rem;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 200%;
}

.demo-button-desktop {
  background-position: 100%;
}

.intro-desktop-head {
  text-align: right;
  line-height: 2.5rem;
}

@media only screen and (max-width: 700px) {
  .intro-desktop-head {
    height: 70px;
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .plans-toggle-button {
    width: 100% !important;
  }

  .demo-button-desktop {
    height: 30px;
    width: 90px;
  }

  .intro-desktop-title {
    width: 70%;
    margin: auto;
    font-size: 0.5rem;
    text-align: center;
  }

  .sample-card {
    margin-left: 0 !important;
    transform: scale(0.8);
    opacity: 0;
  }

  .plans-container {
    display: none;
    opacity: 0;
    transform: translate(0, 200px);
    overflow-x: scroll;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 1000px;
  }

  .plan-container:hover .plan-submit-button {
    background-color: #4476FE;
    color: white;
  }
}
@media only screen and (min-width: 800px) {
  .plans-container {
    display: none;
    opacity: 0;
    transform: translate(0, 200px);
    padding-top: 1000px;
  }

  .plan-container:hover {
    transform: translateY(-10px) scale(1.01);
    box-shadow: 0 0 10px 1px #b3a9e7;
  }
  .plan-container:hover .plan-submit-button {
    background-color: #4476FE;
    color: white;
  }
}
.h-999 {
  height: 999px;
}

.h-m {
  height: 200px;
}

.demo-button-desktop:hover {
  background-position: 200%;
  color: white;
  box-shadow: #ffc9d2 0 0 10px;
}
.demo-button-desktop:hover span {
  opacity: 1 !important;
}

.intro-desktop-title {
  line-height: 2rem;
}

.t-r {
  text-align: right;
}

#___gatsby {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
}

.allCards {
  display: none;
}

.sample-card {
  user-select: none;
  z-index: 1;
  opacity: 1;
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100px;
  min-width: 200px;
  max-width: 450px;
  background: white;
  border: none;
  box-shadow: 1px 0 10px 4px #dcdcdc;
  border-radius: 12px;
  margin-left: 100px;
}

.the-line-and-circle {
  position: absolute;
  overflow-x: visible;
  height: 100%;
  width: 10%;
  float: left;
  padding: 15px 0 15px 15px;
}

.card-line {
  height: 100%;
  width: 5px;
  background: #FDA4A4;
  border-radius: 2px;
}

.card-circle {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 0.7rem;
  margin-top: 0.8rem;
}

br {
  display: block !important;
}

.card-title {
  padding-left: 2rem;
  padding-right: 1rem;
  margin-right: 1rem;
  margin-top: 1.2rem;
  font-family: AppIranSansBold, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  white-space: nowrap;
}

.card-contents-container {
  padding-left: 1rem;
  height: 100%;
  width: 90%;
  float: right;
  padding-right: 1rem;
}

.main-desktop-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-details {
  direction: rtl;
  margin-top: 20px;
  text-align: right;
  font-family: AppIranSansLight, sans-serif;
  white-space: nowrap;
  font-size: 0.55rem;
}

.test-divs {
  height: 100px;
  width: 100px;
}

.main-website-container {
  background-color: #E8EDF8;
  width: 100%;
}
.main-website-container .little-logo {
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
  background: url("/img/Logo.png") center;
  background-size: cover;
  transform: translateX(120px);
}
.main-website-container .main-dialog {
  background-color: white;
  bottom: 0;
  height: 20vh;
  width: 93%;
  margin: auto;
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  border-radius: 15px 15px 0 0;
  overflow: visible;
}
.main-website-container * {
  transition: none;
  scroll-behavior: auto;
}
.main-website-container .cuki-head-text {
  font-family: Yellowtail, monospace;
  filter: drop-shadow(2px 4px 6px #6f6f6f);
}
.main-website-container .show-demo-button {
  position: fixed;
  width: 90%;
  height: 50px;
  background-color: #0E3FA6;
  right: 50%;
  transform: translateX(50%);
  border-radius: 12px;
  bottom: 7px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-family: AppIranSans, sans-serif;
}
.main-website-container .svg-container {
  width: 150px;
  height: 120px;
  margin-top: -90px;
}
.main-website-container .svg-container2 {
  width: 150px;
  height: 120px;
  opacity: 0;
}
.main-website-container .svg-container3 {
  width: 150px;
  height: 120px;
  opacity: 0;
}
.main-website-container .each-slide-head-text {
  font-family: AppIranSansBold, sans-serif;
  font-size: 1.2rem;
}
.main-website-container .each-slide-title-text {
  font-family: AppIranSans, sans-serif;
  font-size: 0.9rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.main-website-container .animation-triggers {
  height: 100vh;
}
.main-website-container .intro-logo {
  width: 120px;
  height: 120px;
  position: fixed;
  right: 50%;
  transform: translate3d(50%, 0px, 0px);
  filter: drop-shadow(2px 4px 6px #6f6f6f);
  z-index: 99;
}
.main-website-container .intro {
  margin-top: 150px;
  position: fixed;
  width: 100%;
  right: 50%;
  transform: translateX(50%);
}
.main-website-container .lottie-player-up {
  position: absolute;
  left: 15px;
  bottom: 55px;
}
.main-website-container .intro-head-text {
  font-family: AppIranSansBold, serif;
}
.main-website-container .intro-head-title {
  font-family: AppIranSans, serif;
  width: 90%;
  text-align: center;
  font-size: 0.85rem;
}
.main-website-container .go-up-button {
  font-family: AppIranSans, serif;
  position: absolute;
  width: 50px;
  height: 40px;
  color: white;
  bottom: 90px;
  left: 15px;
  border-radius: 10px;
  line-height: 7px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.plans-toggle-button {
  border: none;
  cursor: pointer;
  width: 50px;
  color: dimgray;
  height: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  bottom: 0;
  transform: translate(50%, 0);
  right: 50%;
  position: fixed;
  background: white;
  z-index: 9999;
}

.main-desktop {
  position: initial;
}

.plan-discount {
  background: #62dcac;
  color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  text-align: center;
  margin-left: -10px;
  line-height: 1.7rem;
}

.plans-section {
  z-index: 99;
  height: 0;
  transform: translate(50%, 0);
  right: 50%;
  width: 400px;
  background-color: white;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
}

.plan-container {
  transition: all 0.2s ease;
  display: flex;
  flex-flow: column;
  border-radius: 15px;
  height: 500px;
  min-width: 300px;
  max-width: 300px;
  background-color: white;
  box-shadow: 0 0 3px 0 #a0a0a0;
  position: relative;
  overflow: visible;
  margin: 20px 20px;
}

.plan-header {
  text-align: right;
  padding: 0 20px;
  margin-top: 20px;
}

.plan-details {
  text-align: right;
  padding: 5px 20px;
  font-family: AppIranSans, serif;
}

.plan-options {
  display: flex;
  flex-flow: column;
  padding: 0 20px;
  margin-top: 20px;
  max-height: 250px;
  overflow-y: scroll;
  height: calc(100% - 300px);
}

.plan-options::-webkit-scrollbar {
  display: none;
}

.plan-option-circle {
  height: 10px;
  width: 10px;
  background-color: #69A4DC;
  border-radius: 100%;
  margin-left: 10px;
}

.plan-option {
  margin: 2px 0;
}

.disabled-button {
  pointer-events: none;
  background-color: #6f6f6f !important;
  color: whitesmoke !important;
  cursor: none !important;
}

.plan-submit-button {
  transition: all 0.2s ease;
  cursor: pointer;
  width: 90%;
  margin: auto;
  background-color: #DAE4FF;
  height: 50px;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  bottom: 20px;
  border-radius: 10px;
  color: #416FEE;
}

.plan-price {
  position: absolute;
  bottom: 80px;
  right: 20px;
  text-align: right;
}

.plans-scroller {
  height: 150vh;
}

/*# sourceMappingURL=MainComponent.css.map */
